<h2><%= @scholarship.title %></h2>


<%= @scholarship.study_type %>
<%= @scholarship.description %>
Requested: $<%= @scholarship.amount_requested %>
Fulfilled: $<%= @scholarship.amount_fulfilled %>
<%= link_to User.find(@scholarship.user_id).name, user_path(@scholarship.user_id) %>

<h2><%= @progress %>% fulfilled</h2>
<div class="progress">
  <div class="progress-bar" style="width: <%= @progress %>%">
    <span class="sr-only">60% Complete</span>
  </div>
</div>


<% if @scholarship.amount_fulfilled >= @scholarship.amount_requested %>
  <h3>Success! Scholarship needs have been met!</h3>
<% end %>

<% if @scholarship.donations.any? %>
  <h3>Donations</h3>
  <% @scholarship.donations.each do |donation| %>
    Amount: <%= donation.amount %>
    Donated by: <%= link_to User.find(donation.user_id).name, user_path(donation.user_id) %>
  <% end %>
<% else %>
  <h4>Be the first to donate!</h4>
<% end %>
<br />

<%= link_to 'Donate', new_scholarship_donation_path(@scholarship) %>
