
<div class="col-md-8 well listingWell">
  <h1><%= @scholarship.title %></h1>


  remove this line : amount owed <%= @scholarship.amount_owed %><br>
  remove this line : amount repaid <%= @scholarship.amount_repaid %>
  <p>Submitted by <%= link_to User.find(@scholarship.user_id).name, user_path(@scholarship.user_id) %></p>
  <hr>
  <table class="table table-bordered">
    <thead>
      <th>Type</th>
      <th>Amount</th>
      <th>Date</th>
    </thead>
    <tbody>
      <td><%= @scholarship.study_type %></td>
      <td>$ <%= @scholarship.amount_requested  %> USD</td>
      <td><%= @scholarship.formatted_time_full  %></td>
      <!-- add dates for this page -->
    </tbody>
  </table>

  <h3>Description:</h3>
  <p><%= @scholarship.description %></p>

  <h3><%= @progress %>% funded</h3>
  <div class="progress">
    <div class="progress-bar" style="width: <%= @progress %>%">

    </div>
  </div>
  <h2><%= @payment_progress %>% paid</h2>
  <div class="progress">
    <div class="progress-bar" style="width: <%= @payment_progress %>%">

    </div>
  </div>

  <% if @scholarship.amount_fulfilled >= @scholarship.amount_requested %>
    <h4>Success! Scholarship needs have been met!</h4>
  <% end %>

  <% if current_user && current_user.donor? && @scholarship.amount_fulfilled < @scholarship.amount_requested %>
    <%= link_to 'Donate', new_scholarship_donation_path(@scholarship), class: "btn btn-success btn-lg" %>
  <% end %>
<hr>
  <% if current_user && current_user.id == @scholarship.user_id %>

    <h3>Chosen payment plan</h3>
    <% if @scholarship.plan == "Platinum Plan" %>
      <h4>Platinum Plan: One year after completion of your chosen program you will repay <%= number_to_currency(@scholarship.amount_requested * 1.1) %> in a single payment.</h4>
    <% elsif @scholarship.plan == "Gold Plan"  %>
      <h4>Gold Plan: Six months after completion of your chosen program you will repay <%= number_to_currency(@scholarship.amount_requested * 1.15) %> over 1 year in monthly installments of <%= number_to_currency(@scholarship.amount_requested * 1.15/12.0) %></h4>
    <% else %>
      <h4>Bronze Plan: Six months after completion of your chosen program you will repay <%= number_to_currency(@scholarship.amount_requested * 1.2) %> over 5 years in monthly installments of <%= number_to_currency(@scholarship.amount_requested * 1.2/60.0) %></h4>
    <% end %>

    <% if @scholarship.amount_fulfilled >= @scholarship.amount_requested %>
      <%= link_to 'Make a payment', new_scholarship_repayment_path(@scholarship), class: "btn btn-success" %>
    <% end %>

  <% end %>

</div>

<div class="col-md-4">
  <br>
  <iframe width="400" height="300" src="http://www.youtube.com/embed/jVbd2Yrqlzs" frameborder="0"></iframe>

  <% if @scholarship.donations.any? %>
    <h3>Donations</h3>
      <table class="table table-bordered">
        <thead>
          <th width="100px">Amount</th>
          <th>Donor</th>
        </thead>
        <% @scholarship.donations.each do |donation| %>

        <tbody>

          <td>$ <%= donation.amount %> USD</td>
          <td><%= link_to User.find(donation.user_id).name, user_path(donation.user_id) %></td>
          <% end %>

        </tbody>
      </table>
  <% else %>
    <h4>Be the first to donate!</h4>
  <% end %>
  <br/>

</div>
