<h1>Sign Up</h1>
<%=form_for User.new do |f| %>
<%=f.label :username %>
<%=f.text_field :username %>
<%=f.label :password %>
<%=f.password_field :password %>
<%=f.label :password_confirmation %>
<%=f.password_field :password_confirmation %>
<%=f.label :name %>
<%=f.text_field :name %>
<%=f.label :email %>
<%=f.text_field :email %>
<%=f.label :city %>
<%=f.text_field :city %>
<%=f.label :description %>
<%=f.text_area :description %>
<%=f.label :donor, "Are you a donor?"%>
<%=f.collection_radio_buttons :donor, [[true, 'Yes'], [false, 'No']], :first, :last %>

<%=f.submit "Sign Up" %>
<%end%>
