<% if current_user.id = @user.id %>
  <p>
  Name: <%= @user.name %><br>
  Username: <%= @user.username %><br>
  Email: <%= @user.email %><br>
  City: <%= @user.city %><br>
  Description: <%= @user.description %><br>
  <% if @user.donor %>
    Account Type: Your account is set up as a donor account.
  <% else %>
    Account Type: Your account is set up as looking for donations.
  <% end %>
  <li><%= image_tag current_user.avatar.url(:thumb) %></li>

  </p>


<%= link_to "Edit Your Profile", edit_user_path(@user), :class => 'btn btn-primary' %>
<%= link_to "Delete Profile", user_path(@user), :class => 'btn btn-danger',
                :data => {:confirm => "Are you sure you want to delete your profile?",
                          :method => 'delete'}%>
<% end %>
