<h1>Code Scholarships</h1>



<% if current_user && current_user.donor? %>
  <h2>Find a scholarship to donate to...</h2>
<% else %>
  <%= link_to "Request a Scholarship", new_scholarship_path %>
<% end %>
<h2>Scholarships</h2>

<ul>
  <% @scholarships.each do |scholarship| %>
  <li>
    <%= link_to scholarship.title, scholarship_path(scholarship) %>
    <%= scholarship.study_type %>
    <%= scholarship.description %>
    Requested: $<%= scholarship.amount_requested %>
    Fulfilled: $<%= scholarship.amount_fulfilled %>
    <%= User.find(scholarship.user_id).name %>
  </li>
  <% end %>
</ul>

<% if current_user %>
  <% if current_user.admin %>
    <h2> <%= link_to "Administration", users_path %> </h2>
  <% end %>
<% end %>
