<div class="well wellDonation">
	<% if current_user %>

	<h2>Donate to <%= @scholarship.user.name %></h2>
	<span><%= image_tag @scholarship.user.avatar.url(:thumb), :class => "img-rounded donatePicture" %></span>

	<hr>
	<%= render 'form' %>

	<% else %>
	<h2>Please sign in to donate!</h2>
	<%= link_to 'Log In', log_in_path %> <br>
	<%= link_to 'Register', new_user_path %>
	<% end %>
</div>
