<div class="well wellDonation">
	<% if current_user %>

	<h2>Donate to <%= @scholarship.user.name %></h2>
	<span><%= image_tag @scholarship.user.avatar.url(:thumb), :class => "img-rounded donatePicture" %></span>

	<hr>
	<div class="progress">
    <div class="progress-bar progressSuccess" style="width: <%= ((@scholarship.amount_fulfilled.to_f/@scholarship.amount_requested.to_f)*100).round() %>%">
      <span class="sr-only">60% Complete</span>
    </div>
  </div>
	<h4>$<%= (@scholarship.amount_requested -= @scholarship.amount_fulfilled) %> Remaining</h4>
	<br>
	<%= render 'form' %>

	<% else %>
	<h2>Please sign in to donate!</h2>
	<%= link_to 'Log In', log_in_path %> <br>
	<%= link_to 'Register', new_user_path %>
	<% end %>
</div>
