<!DOCTYPE html>
<html>
<head>
  <title>CodeScholarship</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_N7Zl57b3FJQuuLi0USv4EPBW');
  // ...
</script>
</head>
<body>

  <nav class="navbar navbar-settings" id="my-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to "Code Scholarships", "/", class: "navbar-brand"  %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav navbar-left special-color">
          <% if current_user == nil %>
            <li><%= link_to 'You must log in to view all contents of the site.', log_in_path %></li>
          <% else %>
            <%= link_to edit_user_path(current_user) do %>
              <span><img src="https://upload.wikimedia.org/wikipedia/en/7/70/Shawn_Tok_Profile.jpg" alt="Shawn Tok" class="img-rounded profile-picture">      <%= current_user.username %></span>
            <% end %>
          <% end %>
        </ul>

        <ul class="navbar-nav navbar-right special-color">
          <% if current_user != nil && current_user != current_user.donor %>
          <%= link_to "Request a Scholarship", new_scholarship_path, :class => "btn btn-sm btn-request" %>
          <% else %>
          <% end %>
          <% if current_user == nil %>
            <li><%= link_to 'Log In', log_in_path %></li>
            <li><%= link_to 'Register', new_user_path %></li>
          <% else %>
            <li><%= link_to "Log Out", log_out_path %></li>
          <% end %>
        </ul>
      </div>

    </div>
  </nav>

  <div class = "container">
    <%= flash[:notice] %>
    <%= flash[:alert] %>

    <%= yield %>
  </div>
</body>
</html>
